@keyframes spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes glitter {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    25% {
      transform: scale(1.6);
      opacity: 1;
    }
    50% {
      transform: scale(0.8);
      opacity: 0;
    }
    75% {
      transform: scale(1.6);
      opacity: 1;
    }
    100% {
      transform: scale(0.8);
      opacity: 0;
    }
  }
  
  html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
  }
  
  #space {
    position: absolute;
    height: 400vh;
    width: 400vw;
    left: -150vw;
    top: -150vh;
    overflow: hidden;
    background: #000010;
    transform-origin: 50% 50%;
    animation: spin 500s linear 0s infinite normal;
    z-index: 1;
  }
  
  .star {
    position: absolute;
    width: 1px;
    height: 1px;
    background: #999;
    opacity: 0;
    animation: glitter 8s ease-in 0s infinite normal;
  }
  
/*------------------------------*/
  
@font-face {
  font-family: 'Pano Regular';
  src: url('../fonts/HW\ Pano\ Regular.ttf') format('truetype'); 
}

.text{
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  opacity: 0;
  visibility: hidden; 
  transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
  z-index: 10;
  font-family: 'Pano Regular';
  }

  .text.show{
    opacity:1;
    visibility: visible;
  }

  @font-face {
    font-family: 'fs dot';
    src: url('../fonts/fs-dot-serif.ttf') format('truetype');
  }

  .reveal-button {
    position: absolute;
    top: 67%;
    left: 50%; 
    transform: translate(-50%, -50%);
    padding: 7px 14px;
    background-color: transparent;
    color: rgb(255, 255, 255); 
    border: 1px dotted white;
    font-size: 1.5em;
    cursor: pointer;
    border-radius:6px;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
    font-family: 'fs dot';
    z-index: 10;
  }
  
  .reveal-button.show {
    visibility: visible; 
    opacity: 1; 
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0s;
  }

  .reveal-button:hover{
    color: aquamarine;
    border-color: aquamarine;
  transition: all 0.3s ease-in-out;
  }
  
  .about{
    position: absolute;
    top: 44%;
    left: 50%; 
    padding: 12rem;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: 'fs dot';
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
    z-index: 10;
    line-height: 1.05;
  }

  .about.show{
    visibility: visible; 
    opacity: 1; 
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0s;
  }




