body {
    margin: 0;
    background-color: black;
    height: 30000px;
    overflow-x: hidden;
  }
  
  .star {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    z-index: -1;
    animation: moveit 2.5s infinite;
  }
  
  @keyframes moveit {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.4;
    }
  }
  body {
    font-family: system-ui;
    background: #000;
    color: white;
    text-align: center;
  }
  
  @keyframes moonRotation {
      0% {
      background-position: 0% 0%;
      border: 0px solid #00000000;
    }
    50% {
      background-position: 150% 0%;
      border: 0px solid #00000000;
    }
    100% {
      background-position: 300% 0%;
      border: 0px solid #00000000;
    }
  }
  
  .moon{
    top: 8.3rem;
    right: 33%;
    display: block;
    width: 30rem;
    height: 30rem;
    position: absolute;
    border-radius: 50%;
    background-image: url('https://www.solarsystemscope.com/textures/download/2k_moon.jpg');
    background-repeat: repeat-x;
    background-size: 110% 100%;
    opacity: 1;
    animation-name: moonRotation;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards !important;
    box-shadow: inset -20px 18px 16px -15px #ffffff, 
  inset 100px -60px 100px 60px rgba(0, 0, 0, 0.9), 7px -10px 20px rgba(255, 255, 255, 0.3215686275);
  }

  .earth{
    top: 29000px;
    right: 2%;
    display: block;
    width: 80rem;
    height: 80rem;
    position: absolute;
    border-radius: 50%;
    background-image: url('https://www.solarsystemscope.com/textures/download/2k_earth_nightmap.jpg');
    background-repeat: repeat-x;
    background-size: 110% 100%;
    opacity: 1;
    animation-name: moonRotation;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards !important;
    box-shadow: inset -20px 18px 16px -15px #ffffff, 
  inset 100px -60px 100px 60px rgba(0, 0, 0, 0.9), 7px -10px 20px rgba(255, 255, 255, 0.3215686275);
  }

  @font-face {
    font-family: 'fs dot';
    src: url('../fonts/fs-dot-serif.ttf') format('truetype');
  }

  .hidden{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    font-family: 'fs dot';
  }

  .hidden.show{
    opacity: 1;
  }

  .distance{
        position: sticky;
        top: 95%;
        width: 100%;
        border-bottom: 1px dashed hsla(0, 0%, 100%, .2);
        text-align: center;
        padding-bottom: 10px;
        font-size: 1.3rem;
        transform: translateY(-50%);
        color: #fff;
        z-index: 3;
        font-family: 'fs dot';
        transition:opacity .3s ease-in-out
  }
  
  .gif{
    position: sticky;
    top: 4%;
    right: 95%;
    width: 2rem;
    height: 2rem;
  }

  .element{
    top: 28000px;
    left: 8%;
    display: block;
    width: 25rem;
    position: absolute;
  }

  .element1{
    top: 28200px;
    left: 50%;
    display: block;
    width: 40rem;
    position: absolute;
  }